extends layout

block content
  a(name='home')
    h1 home
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque arcu, auctor et commodo ac, accumsan eget felis. Cras vitae elit dolor, at consectetur dolor. Maecenas ipsum justo, vestibulum in ornare non, euismod in nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel augue diam, eget fringilla sapien. Duis sodales feugiat tincidunt. Fusce sed lorem urna. Nam accumsan neque ut leo pharetra rutrum. Nam vel lectus lorem, vitae placerat est. Morbi et libero id eros sodales volutpat lacinia sit amet lectus. Praesent mattis massa quis odio blandit vitae imperdiet dui laoreet. Vestibulum eleifend elit at massa euismod nec elementum nisi cursus. Nunc tincidunt, augue et fringilla fringilla, nulla odio consectetur libero, id placerat est magna sed tortor. Curabitur pulvinar ipsum ac magna blandit commodo adipiscing quis odio. Donec metus lacus, convallis et accumsan a, eleifend vel risus.
  br

  a(name='games')
    h1 games

  p Duis sodales nisi mollis nisl varius adipiscing. Donec vel porta justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer elementum urna ac nisi facilisis facilisis. Donec semper ante nec augue ultricies convallis. Proin dictum dictum turpis a interdum. Sed ultricies nulla turpis, sed cursus dolor. Ut lorem nibh, sodales a tincidunt in, bibendum a enim. Donec pulvinar vulputate orci in commodo.
  br

  a(name='projects')
    h1 projects

  p Aenean imperdiet mollis viverra. Sed rhoncus urna quis sem aliquet sed adipiscing diam laoreet. Pellentesque sed felis at libero consequat aliquet. Curabitur ultrices nisl imperdiet libero eleifend commodo. Aenean et sodales massa. Etiam id dolor quam, eget volutpat velit. Proin augue lectus, adipiscing ut dapibus quis, rutrum vel sem. Quisque vel ante tempor leo rhoncus aliquam imperdiet vel nisl. Aliquam non lectus in nunc facilisis tempus. Proin blandit nunc sit amet eros congue at molestie lorem rutrum. Cras enim magna, cursus mollis rhoncus nec, feugiat dignissim leo. Integer interdum bibendum lectus, ut rhoncus purus pretium nec. Nunc vitae turpis erat, ut fermentum diam. Integer et quam augue. Cras sapien velit, tristique in vehicula non, tincidunt eget massa.
  br

  a(name='about')
    h1 about

  p Cras ac mauris magna, ac elementum justo. Cras vel orci felis. Nulla convallis dictum quam ac cursus. Vestibulum ante ligula, ornare sit amet dictum viverra, tempor non elit. Sed tempus facilisis dignissim. Sed dictum mi nec metus sagittis ullamcorper. Sed adipiscing eros ut mauris dapibus suscipit. Phasellus tristique risus sed odio tempus tristique. Ut aliquam risus quis magna tempus convallis. Etiam eu felis a dolor varius aliquam at nec nisl. Mauris scelerisque nibh suscipit justo ornare pulvinar. Etiam scelerisque tortor in dolor gravida lacinia nec laoreet diam. Nullam blandit, turpis eget pretium tempor, mi elit semper odio, eu facilisis turpis enim sed eros.